.header_wrapper{
    width: 100vw;
    background-color:#333;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

/* .header_wrapper>div{
    width: 80%;
} */



.header_wrapper h1{
    font-size: 2.4rem;
    min-width: 350px;
    padding-left: 50px;

}

.header_menu_div{
    width: 50%;
    margin-right: 100px;
    text-align: right;
}

.header_menu_div_hamberger{
    width:50%;
    margin-right: 50px;
    text-align: right;
    display: none;
}

.header_menu_p{
    margin-left: 30px;
    color: #fff;
}

@media screen and (max-width:1200px){   
    .header_menu_div{
      display: none;
    }

    .header_menu_div_hamberger{
        display: block;
    }
  }